@use "./variables.scss";

:root {
    --max-width: 120rem;
    --padding-large: 6.25rem;
    --padding-medium: 3.75rem;
    --padding-small: 1.25rem;
    --width-milestone-wrapper: auto;
}

html,
body {
    height: 100%;
    background-color: #fafbfe;
    direction: ltr;
    width: 100%;
    font-size: 0.8333333333vw;
    font-family: variables.$primaryFont;
    font-family: variables.$secondaryFont;

    @media screen and (max-width: 991px) {
        font-size: 2.083333333vw;
    }

    @media screen and (max-width: 600px) {
        font-size: 4.102564103vw;
    }


}


.container {
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 7.5rem;
    width: 100%;
}


.container-padding {
    padding: 0 8.375rem;

    @media screen and (max-width: 991px) {
        padding: 0 1.25rem;

    }

    @media screen and (max-width: 600px) {
        padding: 2rem 1.25rem;

    }
}

b,
strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.sec-padded {
    padding: 6.25rem 0;

    @media screen and (max-width: 600px) {
        padding: 3rem 0;
    }

    &--top {
        padding: 6.25rem 0 0;

        @media screen and (max-width: 600px) {
            padding: 2.5rem 0 0;
        }
    }

    &--bottom {
        padding: 0 0 6.25rem;

        @media screen and (max-width: 600px) {
            padding: 0 0 3rem;
        }
    }
}