// Custom Variables //
$primaryFont: 'Alexandria', Arial, Helvetica, sans-serif;
$arabicFont: 'Noto Kufi Arabic', sans-serif;

$white: #FFFFFF;
$black: #000000;

// Media Queries
$vpDesktop1680: '(max-width:1680px)';
$vpDesktop1440: '(max-width:1440px)';
$vpTablet1229: '(max-width:1229px)';
$vpTablet1024: '(max-width:1024px)';
$vpTablet991: '(max-width:991px)';
$vpTablet768: '(max-width:768px)';
$vpTablet767: '(max-width:767px)';
$vpMobile600: '(max-width:600px)';
$vpMobile475: '(max-width:475px)';
$vpMobile359: '(max-width:359px)';
$vpMobile390: '(max-width:390px)';
$vpMobile375: '(max-width:375px)';
$vpLaptop: '(max-height:800px)';
$vpsmLaptop700: '(max-height:700px)';
$vpsLaptop900: '(max-height:900px)'; 