@use "../global/variables.scss";

.customer-support-section {
        width: 100%;
        display: flex;
        gap: 2.11rem;

        .customer-support-left-image {
                padding: 6.58rem 0 5rem 0;

                .bg-blur-image {
                        position: relative;
                        backdrop-filter: blur(3.8207547664642334px);
                        width: 41.313rem;
                        height: 23.75rem;
                        img {
                                width: 100%;
                                height: 100%;
                        }
                        .bg-image {
                                position: absolute;
                                top: 0;
                                width: 41.313rem;
                                // height: 100%;

                                img {
                                        width: 100%;
                                        height: 100%;
                                }
                        }
                }
        }

        .customer-support-right-content {
                padding: 11.64rem 0 15.12rem 0;

                .content {
                        .main-heading {
                                margin-bottom: 1.31rem;
                                width: 100%;

                                p {
                                        max-width: 20.9375rem;
                                        color: #1E1F1E;
                                        font-family: Roboto;
                                        font-size: 2.25rem;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: 1.2;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                }
                        }

                        .description {
                                width: 100%;

                                p {
                                        max-width: 29.5625rem;
                                        color: var(--Text-Color-Text-Primary, #1E1F1E);
                                        font-family: Roboto;
                                        font-size: 1rem;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 150%;
                                }
                        }
                }
        }

}

@media screen and (max-width:992px) {
        .customer-support-section {
                flex-wrap: wrap;
                gap: 0;
                justify-content: center;
                display: grid;

                .customer-support-left-image {
                        padding: 3.28rem 0 2.5rem 0;
                        order: 2;
                }

                .customer-support-right-content {
                        padding: 5.64rem 0 0 0;
                        order: 1;

                        .content {
                                .main-heading {
                                        p {
                                                text-align: center;
                                                margin: 0 auto;
                                        }
                                }

                                .description {
                                        p {
                                                text-align: center;
                                                margin: 0 auto;

                                        }
                                }
                        }
                }
        }
}

@media screen and (max-width:600px) {
        .customer-support-section {
                .customer-support-left-image {
                        padding: 3.28rem 0 0 0;
                        order: 2;

                        .bg-blur-image {
                                max-width: 20.813rem;
                                max-height: 14rem;
                                margin: 0 auto;
                                img {
                                        width: 100%;
                                }

                                .bg-image {
                                        max-width: 20.813rem;

                                        img {
                                                width: 100%;
                                        }
                                }
                        }
                }

                .customer-support-right-content {
                        padding: 0;

                        .content {
                                .main-heading {
                                        p {
                                                text-align: center;
                                        }
                                }

                                .description {
                                        p {
                                                text-align: center;
                                        }
                                }
                        }
                }
        }
}