@use "../global/variables.scss";

@keyframes expandLine {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.hero-container {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path:
        polygon(0 -19.857%, 100% -19.857%, 100% 86.214%, 100% 86.214%, 99.525% 86.598%, 98.09% 87.641%, 95.677% 89.177%, 92.27% 91.042%, 87.852% 93.071%, 82.405% 95.101%, 75.913% 96.966%, 68.36% 98.502%, 59.728% 99.545%, 50% 99.929%, 50% 99.929%, 40.272% 99.545%, 31.64% 98.502%, 24.087% 96.966%, 17.595% 95.101%, 12.148% 93.071%, 7.73% 91.042%, 4.323% 89.177%, 1.91% 87.641%, .475% 86.598%, 0 86.214%, 0 -19.857%);
    background-color: #74b959;


    .wrap-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .wrap-images {
            flex: 0 0 62%;
            max-width: 62%;
            height: 100%;
            position: relative;
            bottom: -18px;



            .sleeper {
                bottom: 0;
                height: 100%;
                z-index: -1;
                max-width: 100%;
                position: absolute;
                top: -34% !important;
                right: 6%;


                img {
                    width: 38.306rem;
                }
            }


            .for-image {
                bottom: 0;
                height: 100%;
                width: 100%;
                max-width: 100%;
                bottom: -34px;

                img {
                    width: 45.316rem;
                }
            }
        }

        .content {
            flex: 0 0 37%;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            max-width: 37%;
            padding-bottom: 8.438rem;
            padding-top: 14.5rem;



            .main-heading {
                max-width: 32rem;

                .heading-2 {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: variables.$textColor;
                    font-family: FatFrank;
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 1.2;
                }

                .heading-1 {
                    color: variables.$textColor;
                    font-family: FatFrank;
                    font-size: 3.75rem;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 0.8;

                }
            }

            .description {
                margin-top: 0.75rem;
                max-width: 32.688rem;

                p {

                    display: flex;
                    align-items: flex-start;
                    gap: 0.438rem;
                    margin-bottom: 0.75rem;

                    .img {
                        width: 1.5rem;
                        height: 1.5rem;

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    span {
                        color: variables.$textColor;
                        font-family: Roboto;
                        font-size: 1.25rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.3;
                    }
                }
            }

            .btn {
                margin-top: 0.938rem;
                width: fit-content;
            }

            .store-download-btn {
                width: fit-content;
                margin-top: 1.25rem;
                display: flex;
                gap: 0.926rem;

                .image {
                    // width: 141.008px !important;
                    // height: 47px !important;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }



        }
    }



    .wrap-content {
        align-items: flex-end;
    }
}

@media screen and (max-width:991px) {

    .hero-container {
        height: 100%;
        clip-path:
            polygon(0 0, 100% 0, 100% 96.429%, 100% 96.429%, 99.471% 96.529%, 97.899% 96.8%, 95.303% 97.2%, 91.703% 97.686%, 87.12% 98.214%, 81.574% 98.743%, 75.084% 99.229%, 67.672% 99.629%, 59.357% 99.9%, 50.16% 100%, 50.16% 100%, 40.954% 99.876%, 32.614% 99.539%, 25.166% 99.043%, 18.634% 98.441%, 13.04% 97.786%, 8.41% 97.13%, 4.766% 96.528%, 2.134% 96.032%, .538% 95.695%, 0 95.571%, 0 0) !important;




        .wrap-content {
            flex-direction: column !important;
            padding: 5rem 1.25rem 0 !important;
            align-items: flex-start !important;


            .wrap-images {
                max-width: 100% !important;

                // right: 0px !important;
                .sleeper {
                    // right: -2% !important;

                    transform: translate(26px, 23px);
                }
            }

            .content {
                // padding-bottom: 4rem;
                // z-index: 11;
                max-width: 100%;
                flex: 0 0 100%;
                padding-bottom: 5.438rem;
                padding-top: 7.5rem;

            }

        }
    }



}

// @media screen and (max-width:1280px) {
//     .hero-container {
//         .bg-image-container {

//             .for-image {
//                 height: 70%;

//                 img {
//                     height: 100%;
//                     object-fit: cover;
//                 }
//             }
//         }
//     }
// }

@media screen and (max-width: 600px) {

    // .for-image {
    //     height: 100% !important;


    //     img {
    //         height: 100%;
    //         object-fit: cover;
    //         position: relative;
    //     }
    // }


    .wrap-content {
        .content {
            .main-heading {

                .heading-1 {
                    font-size: 1.7rem;
                    line-height: 2.5rem;
                }

                .heading-2 {
                    font-size: 1.7rem;
                    line-height: 2.5rem;
                }
            }

            .description {
                margin-top: 0.75rem;
                max-width: 32.688rem;

                p {
                    gap: 0.438rem;
                    margin-bottom: 0.75rem;

                    .img {
                        width: 1.5rem;
                        height: 1.5rem;

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    span {
                        font-size: 1rem !important;
                        line-height: 1.7 !important;
                    }
                }
            }
        }
    }

    .sleeper {
        top: 0 !important;
    }

    .wrap-content {
        .content {
            padding: 2rem 0 0rem !important;
        }
    }
}


@media screen and (max-width:375px) {
    .wrap-content {
        .content {
            padding-top: 2.363rem;

            .main-heading {
                .heading-1 {
                    font-size: 36px !important;
                    line-height: 38.99px !important;
                }

                .heading-2 {
                    font-size: 32px !important;
                    line-height: 38.99px !important
                }
            }

            .description {
                margin-top: 1.5rem !important;

                p {
                    margin-bottom: 1.063rem !important;

                    .img {
                        width: 1.216rem !important;
                        height: 1.216rem !important;
                    }

                    span {
                        font-size: 14px !important;
                        line-height: 18.2px !important;
                    }
                }
            }

            .btn {
                margin-top: 0 !important;
            }

            .store-download-btn {
                margin-top: 1.375rem !important;
                gap: 0.75rem !important;

                .image {
                    width: 7.125rem !important;

                }
            }
        }
    }

    .wrap-images {
        .sleeper {
            right: 15% !important;
            // top: -23%;
            max-width: 100% !important;
        }

        .for-image {
            position: relative;
            bottom: -24px !important;
        }
    }
}